

.image{
    height: 50%;
    top: 0;
    width: 100%;  
    z-index: 0;  
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 34px;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

p{
    position: absolute; 
    transition: .5s ease; 
    top: 75%;
    left: 87%;
    color: black;
    font-family: Courier New, monospace; 
    text-decoration: none;
}
button{
    background-color:#0097a8;
    border: none;
    width: 150px;
    height: 45px;
    color: white;
       
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    float: right; 
      
}
.b{
    background-color:white;
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: auto;
    color: black;
    font-size: 13px;
    border-radius: 20px;
    cursor: pointer;
        
}
#b3{
    
     position: absolute; 
    transition: .5s ease; 
    top: 95%;
    left: 2%;

}
#b4{
    
     position: absolute; 
    transition: .5s ease; 
    top: 95%;
    left:85%;
    text-decoration: none;
}

#b2{
    position: absolute; 
    transition: .5s ease; 
    top: 70%;
    left: 87%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1); 
}
#b1{
    position: absolute; 
    transition: .5s ease; 
    top: 80%;
    left: 87%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1); 
}
        /* The Modal (background) */
        .modal {

            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            border-radius: 15px;
            width: 10%;
            height: 25%; 
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            
            padding: 20px;
            border: 1px solid #888;
            border-radius: 15px;
            width: 10%;

        }


        #textboxid {border-radius: 15px; width: 253px; height: 25px; font-size:12pt; }
        #subb, #logg{border-radius: 15px; width: 150px; height: 42px; color: white; background-color: DodgerBlue; font-size: 20pt;}
        /* The Close Button */
        .close {
           color: white;
                float: right !important;
    margin-right: -28px !important;
    margin-top: -42px !important;
    background-color: #DCDCDC !important;
    border-radius: 15px;
    opacity: 1 !important;
    font-weight:bold;

        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            
            width: 23%;
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 40px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

       











