.image{
    height: 50%;
    width: 100%;  
    z-index: 0;
    top: 0;
   
}
h1{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 50px;
}
p{
    
    font-family: Courier New, monospace;
    color: white; 
    text-decoration: none;
}
button{
    background-color:#0097a8;
    border: none;
    color: white;
    padding: 15px 80px;    
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
    cursor: pointer;
    50px;
    right: 50px;
}
.navbar {
    background-color: #006064;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
